* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

header {
  height: 50px;
  background-color: #DD2020;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
header a {
  text-decoration: none;
  color: #fff;
}

nav {
  height: 50px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
nav a {
  color: white;
  text-decoration: none;
}

.hero {
  height: 400px;
  width: 100%;
  background-image: url(../images/Nintendo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero2 {
  height: 400px;
  width: 100%;
  background-image: url(../images/News.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero3 {
  height: 400px;
  width: 100%;
  background-image: url(../images/3ds.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero4 {
  height: 400px;
  width: 100%;
  background-image: url(../images/Switch.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero5 {
  height: 400px;
  width: 100%;
  background-image: url(../images/NintendoLogo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero6 {
  height: 400px;
  width: 100%;
  background-image: url(../images/SuperMario.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero7 {
  height: 400px;
  width: 100%;
  background-image: url(../images/Zelda.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero8 {
  height: 400px;
  width: 100%;
  background-image: url(../images/Account.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero9 {
  height: 400px;
  width: 100%;
  background-image: url(../images/Network.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.aboutContent {
  height: 350px;
  background-color: whitesmoke;
}
.aboutContent h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.aboutContent2 {
  height: 400px;
  background-color: whitesmoke;
}
.aboutContent2 h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header2 {
  height: 50px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
header2 a {
  text-decoration: none;
  color: #fff;
}

.boxes {
  width: 100%;
  height: 200px;
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.boxes .box {
  width: 200px;
  height: 100px;
  background-color: #DD2020;
}
.boxes p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: white;
  font-size: large;
}

footer {
  height: 100px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
footer a {
  color: white;
  text-decoration: none;
}